@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ProductAdmin Page</h1>
    <h2> Login and check the products </h2>
    
</div>
